.footer-area {
    background: linear-gradient(to right, rgb(236, 0, 140), rgb(252, 103, 103));
}

.footer-area li {
    padding-bottom: 10px;
}

.footer-area ul li a {
    color: #e9e9e9 !important;
}

.social-media .icon {
    height: 40px;
    width: 40px;
    color: #1cc7c1;
    border-radius: 50%;
    border: 1px solid #6ACECE;
    padding: 10px;
}

.social-media .active-icon {
    background-color: #6ACECE;
    color: white;
}