html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
}

section {
    overflow: hidden !important;
}

.input {
    box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
    border: none;
    outline: none;
    padding: 10px;
    font-family: oswald;
    border-radius: 5px;
    background: white;
    width: 100%;
}

.input::placeholder, textarea::placeholder {
    color: #8e97a1;
}

.display-grid-col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.text-brand {
    color: #6c5ce7;
}

.text-gradient {
    background-color: #CA4246;
    background-image: linear-gradient( 45deg, #CA4246 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #476098 66.666%, #476098 83.333%, #A7489B 83.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.text-gradient:hover {
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}

.btn-brand {
    background-color: #6c5ce7;
    color: white !important;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    text-decoration: none !important;
    transition: 0.3s;
}

.btn-brand:hover {
    background-color: #5f4cec;
}

.button-box {
    width: fit-content;
    height: 110px;
}

.button-box a {
    text-decoration: none;
    padding: 18px 40px;
    display: inline-block;
    font-weight: 600;
    font-size: 17px;
    border-radius: 8px;
    margin-top: 25px;
    z-index: 999;
    position: relative;
    transition: 0.3s;
}

.btn-outline {
    border: 1px solid #999;
    width: 100%;
    height: 56px;
    border-radius: 9px;
    margin-top: -35px;
    margin-left: 18px;
    transition: 0.3s;
}

.button-box:hover .btn-outline {
    margin-top: -57px !important;
    margin-left: -1px !important;
}

.width-50 {
    width: 50%;
}

.padding-0 {
    padding: 0 !important;
}

.margin-0 {
    margin: 0 !important;
}

.padding-5 {
    padding: 50px;
}

.title-padding {
    padding: 0px 50px;
}

.box-shadow {
    box-shadow: 0 0 15px 0 lightgray;
}

.border-radius-10 {
    border-radius: 10px !important;
}

.background-light {
    background-color: #d3d3d36e;
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
}

.section-title {
    max-width: 1140px;
}

.section-title h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.section-title h2:after {
    content: "";
    position: absolute;
    background: #6c5ce7;
    bottom: 0;
    width: 100px;
    border-bottom: 5px solid #6c5ce7;
    border-radius: 5px;
    left: 50%;
    transform: translatex(-50%);
}

.section-title p {
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    color: #666;
    font-size: 16px;
    line-height: 25px;
}

/* scrollbar css  */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #6c5ce7;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5446bd;
}


/* Responsive css */
@media (max-width: 991px) {
    .display-grid-col-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575px) {
    .display-grid-col-3 {
        grid-template-columns: repeat(1, 1fr);
    }
    .width-50 {
        width: 100%;
    }
    .title-padding {
        padding: 0px 10px;
    }
    .padding-5 {
        padding: 10px;
    }
}