
.verify-admin-box{
    width: 60%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 20px 0px lightgrey;
    margin-top: 100px;
    padding: 50px;
    border-radius: 10px;
    position: relative;
}
input.verify-admin {
    border: none;
    outline: none;
    padding: 15px;
    box-shadow: 0px 0px 20px 0px lightgrey;
    border-radius: 50px;
    width: 500px;
}

input.verify-btn {
    padding: 15px 40px !important;
    font-weight: 500;
    position: relative;
    margin-left: -100px;
    border-radius: 50px;
}



@media (max-width: 575px) {
    input.verify-admin {
        width: 90%;
    }
}